main {
    margin-top: 89px;
}
header {
	background: #fff;
    top: 0;
    left: 0;
    z-index: 1001;
    width: 100%;
    position: fixed;
}
.header-menu {
	font-family: 'Condensed';
	padding: 15px 0;
    border-bottom: 1px solid #ddd;
    .container-fluid {
    	padding: 0 50px;
    }
}
.social-head {
	ul {
		display: flex;
	    align-items: center;
	    justify-content: flex-end;
	    li {
	    	margin-right: 15px !important;
	    	&:last-child {
	    		margin-right: 0 !important;
	    	}
	    }
	    a {
	    	display: flex;
	    }
	}
	.btn-search {
		display: flex;
	} 
}
.h-menu {
	.logo {
		a {
			&:after {
				display: none;
			}
		}
	}
	ul {
		list-style: none;
	    display: flex;
	    font-size: 14px;
	    align-items: center;
	    li {
	    	padding: 0 20px;
	    }
	}
	a {
		color: #54595f;
		position: relative;
		&:after {
			position: absolute;
		    background-color: #222;
		    content: '';
		    height: 1px;
		    width: 0;
		    bottom: 0;
		    left: 50%;
		    -webkit-transition: width cubic-bezier(.215,.61,.355,1) .15s,left cubic-bezier(.215,.61,.355,1) .15s;
		    -o-transition: width cubic-bezier(.215,.61,.355,1) .15s,left cubic-bezier(.215,.61,.355,1) .15s;
		    transition: width cubic-bezier(.215,.61,.355,1) .15s,left cubic-bezier(.215,.61,.355,1) .15s;
		}
		&:hover, &.active {
			&:after {
				width: 100%;
    			left: 0;
			}
		}
	}
}
.hver-line {
	position: relative;
	&:before {
		position: absolute;
	    background-color: #222;
	    content: '';
	    height: 1px;
	    width: 0;
	    bottom: 0;
	    left: 50%;
	    -webkit-transition: width cubic-bezier(.215,.61,.355,1) .15s,left cubic-bezier(.215,.61,.355,1) .15s;
	    -o-transition: width cubic-bezier(.215,.61,.355,1) .15s,left cubic-bezier(.215,.61,.355,1) .15s;
	    transition: width cubic-bezier(.215,.61,.355,1) .15s,left cubic-bezier(.215,.61,.355,1) .15s;
	}
	&:hover, &.active {
		&:before {
			width: 100%;
			left: 0;
		}
	}
}


footer {
	margin-top: 60px;
	background: #181818;
	color: #fff;
	font-size: 15px;
	a {
		color: #fff;
	}
	.container-fluid {
		padding: 0 50px;
	}
}
.footer-top {
	padding: 70px 0;
	ul {
		list-style: none;
		li {
			margin-bottom: 8px;
			display: flex;
			i {
				margin-right: 15px;
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	.col-md-5 {
		padding-left: 80px;
	}
}
.title-ft {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 25px;
}
.item-ft {
	.info {
		font-size: 14px;
		line-height: 1.8;
		p {
			margin-bottom: 10px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
.btn-ft {
	a {
		background: #24607a;
	    display: inline-flex;
	    height: 65px;
	    border-radius: 5px;
	    align-items: center;
	    padding: 0 50px;
	    letter-spacing: 2px;
	    &:hover {
	    	color: #000000;
	    	background: #fff;
	    }
	}
}
.reserved {
	padding: 25px 0;
    color: #5e5e5e;
    border-top: 1px solid #5e5e5e;
    .social {
    	li {
    		padding-right: 8px;
    		&:last-child {
    			padding-right: 0;
    		}
    	}
    }
    a {
    	color: #5e5e5e;
    	&:hover {
    		color: #fff;
    	}
    }
}

.popup-search {
	position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #5e5e5e;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    &.active {
    	z-index: 1001;
    	pointer-events: unset;
    	opacity: 1;
    }
    .box-search {
    	position: relative;
    	input {
    		width: 100%;
		    height: 74px;
		    background: transparent;
		    color: #fff;
		    border: 0;
		    border-bottom: 2px solid #fff;
		    font-size: 30px;
		    padding-right: 60px;
    	}
    	button {
    		background: transparent;
		    border: 0;
		    position: absolute;
		    top: 25px;
		    right: 21px;
    	}
    	svg {
    		width: 30px;
		    height: 30px;
		    background: #fff;
		    opacity: .8;
    	}
    }
}
.close-search {
	position: absolute;
    top: 20px;
    right: 20px;
	a {
		color: #fff;
	}
}