@media (max-width: 767px) {
    .menu-mobile {
        display: block !important;
        padding: 6px 0;
        border-bottom: 1px solid #ebebeb;
        position: relative;
    }
    .mm-mobile {
        box-shadow: 0px 2px 12px -3px rgb(0 0 0 / 10%);
        position: absolute;
        z-index: 1001;
        width: calc(100% - 30px);
        left: 15px;
        background: #fff;
        top: 100px;
        transition: .6s all !important;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
    .mm-mobile.active {
        top: 62px;
        opacity: 1;
        visibility: visible;
        pointer-events: unset;
    }

    .mm-mobile ul {
        list-style: none;
        padding: 15px 25px;
    }

    .mm-mobile ul a {
        text-transform: uppercase;
        font-size: 13px;
        display: flex;
        padding: 15px 0;
    }
    .menu-mobile .logo img {
        height: 40px;
    }
    .btn-menu a {
        color: #000000;
    }

    .btn-menu a svg {
    }

    .btn-menu a svg line {fill: none;stroke: #222;stroke-width: 6;stroke-miterlimit: 10;-webkit-transition: stroke cubic-bezier(.25,.46,.45,.94) .3s;-o-transition: stroke cubic-bezier(.25,.46,.45,.94) .3s;transition: stroke cubic-bezier(.25,.46,.45,.94) .3s;}
    .header-menu {
        display: none;
    }
    .txt-caption h1 {
        font-size: 30px;
    }
    .about-top {
        padding: 30px 15px;
        margin-bottom: 40px;
        position: relative;
        left: -15px;
        width: calc(100% + 30px);
    }

    .about-top .avarta {
        margin-bottom: 30px;
    }

    .about-top h3 {
        font-size: 20px;
    }

    body {
        font-size: 14px;
    }

    .item-ab .info h3 {
        font-size: 28px;
    }

    .about-bott .col-md-4 {
        padding: 0 15px;
        margin-bottom: 30px;
    }

    .about-bott .row {
        margin: 0 -15px;
    }

    .about-bott .col-md-4:nth-child(2n) .item-ab .info {
        order: 1;
        margin-bottom: 20px;
    }

    .about-bott .col-md-4:nth-child(2n) .item-ab .avarta {
        order: 2;
        margin-bottom: 0;
    }

    footer {
        margin-top: 40px;
    }

    .about-bott .col-md-4:last-child {
        margin-bottom: 0;
    }

    .ctn-bott {
        padding-left: 0;
    }

    .contact-left .social {
        padding: 20px 0;
        text-align: center;
    }

    .contact-left .social ul {
        justify-content: center;
    }

    .contact-left {
        margin-bottom: 30px;
    }

    .list-news .col-md-4 {
        margin-bottom: 15px;
    }

    .list-news .col-md-4:last-child {
        margin-bottom: 0;
    }
    .list-news .row .col-md-4 {
        padding: 0 15px;
    }

    .list-news .row {
        margin: 0 -15px;
    }

    .content-detail h3 {
        font-size: 20px;
    }

    .content-detail h4 {
        font-size: 20px;
    }

    .detail-top .date-cate {
        margin-bottom: 0;
    }

    .side-bar {
        padding-left: 0;
        padding-top: 40px;
    }

    .box-bar {
        margin-bottom: 30px;
    }

    .title-bar {
        margin-bottom: 15px;
    }

    .list-comment {
        padding: 40px 0;
        margin: 25px 0;
    }
    .footer-top {
        display: none;
    }

    .reserved {
        text-align: center;
    }

    .reserved p {
        margin-bottom: 15px;
    }

    .reserved .social ul {
        text-align: center;
    }
}

@media (max-width: 767px) and (min-width: 576px) {
}

@media (max-width: 1023px) and (min-width: 768px) {
    .header-menu .container-fluid {
        padding: 0 15px;
    }

    footer .container-fluid {
        padding: 0 15px;
    }
    .about-bott .col-md-4 {
        padding: 0 15px;
    }

    .about-bott .row {
        margin: 0 -15px;
    }

    .item-ab .info h3 {
        font-size: 28px;
    }
    .ctn-bott {
        padding-left: 0;
    }

    .btn-contact a {
        padding: 0 25px;
    }
}