* {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: 'avo';
  src: url("../fonts/UTM/UTMAvoBold.woff2") format("woff2"), url("../fonts/UTM/UTMAvoBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'avo';
  src: url("../fonts/UTM/UTMAvo.woff2") format("woff2"), url("../fonts/UTM/UTMAvo.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'avo';
  src: url("../fonts/UTM/UTMAvo-Italic.woff2") format("woff2"), url("../fonts/UTM/UTMAvo-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'avo';
  src: url("../fonts/UTM/UTMAvo-BoldItalic.woff2") format("woff2"), url("../fonts/UTM/UTMAvo-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'Condensed';
  src: url("../fonts/RobotoCondensed-Bold.woff2") format("woff2"), url("RobotoCondensed-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Condensed';
  src: url("../fonts/RobotoCondensed-Regular.woff2") format("woff2"), url("RobotoCondensed-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Condensed';
  src: url("../fonts/RobotoCondensed-BoldItalic.woff2") format("woff2"), url("RobotoCondensed-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'Condensed';
  src: url("../fonts/RobotoCondensed-Light.woff2") format("woff2"), url("RobotoCondensed-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Condensed';
  src: url("../fonts/RobotoCondensed-Italic.woff2") format("woff2"), url("RobotoCondensed-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'Condensed';
  src: url("../fonts/RobotoCondensed-LightItalic.woff2") format("woff2"), url("RobotoCondensed-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap; }
body {
  box-sizing: border-box;
  color: #000000;
  padding: 0 !important;
  font-size: 16px;
  line-height: 1.6;
  transition: .3s all;
  position: relative;
  font-weight: normal; }
  body.active {
    overflow: hidden; }
  body h1, body h2, body h3, body h4, body h5, body h6, body p, body label, body ul, body li, body .card, body a {
    text-decoration: none !important;
    transition: .3s all;
    margin-bottom: 0;
    outline: none !important; }
  body a {
    transition: .3s all !important;
    color: #000000; }
    body a:hover {
      color: #000000; }
  body ul {
    padding: 0;
    margin: 0; }
  body input, body button {
    outline: none !important;
    box-shadow: none;
    transition: .3s all; }
  body .slick-slide {
    height: auto; }
    body .slick-slide img {
      display: inline; }
  body .container {
    width: 100%;
    max-width: 1200px; }
  body img {
    max-width: 100%; }
  body .slick-slider {
    margin-bottom: 0; }
  @media (max-width: 1300px) {
    body .container {
      padding: 0 50px; } }
  @media (max-width: 1023px) {
    body .container {
      padding: 0 20px; } }

header {
  position: relative;
  z-index: 2; }

.header-top {
  padding: 20px 0; }
  .header-top .head-right {
    display: flex;
    align-items: center;
    justify-content: flex-end; }
  .header-top .box-search {
    position: relative;
    width: 325px; }
    .header-top .box-search input {
      height: 40px;
      width: 100%;
      border-radius: 30px;
      border: 2px solid #b3b3b3;
      padding: 0 15px; }
    .header-top .box-search button {
      cursor: pointer;
      border: 0;
      background: transparent;
      position: absolute;
      top: 5px;
      right: 15px; }
  .header-top .hotline {
    font-weight: bold;
    font-size: 22px;
    margin-left: 30px; }
  @media (max-width: 1023px) {
    .header-top .hotline {
      font-size: 16px; }
    .header-top .box-search {
      width: 100%;
      max-width: 250px; } }

.header-menu {
  background: #00000073;
  padding: 3px 0; }

.h-menu ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold; }
.h-menu a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 22px;
  border-radius: 5px;
  color: #fff;
  height: 45px;
  min-width: 140px;
  position: relative; }
  .h-menu a.active, .h-menu a:hover {
    background: #fff;
    color: #212121; }
    .h-menu a.active:after, .h-menu a:hover:after {
      opacity: 0; }
  .h-menu a:after {
    content: "";
    width: 1px;
    height: 100%;
    background: #fff;
    position: absolute;
    top: 0;
    right: 0;
    transition: .3s all !important; }
@media (max-width: 1023px) {
  .h-menu a {
    font-size: 13px;
    min-width: unset;
    padding: 0 17px;
    height: 35px; } }

.footer-bott {
  background: #000000eb;
  color: #fff;
  padding: 12px 0;
  font-weight: 600;
  font-size: 14px; }

.footer-top {
  padding: 60px 0;
  background: url("../images/bn-footer.jpg") no-repeat center;
  background-size: cover; }
  @media (max-width: 1023px) {
    .footer-top {
      font-size: 14px; } }

.txt-footer-left h3 {
  font-weight: bold;
  font-size: 22px; }
.txt-footer-left ul {
  padding: 20px 0;
  list-style: none; }
  .txt-footer-left ul li {
    margin-bottom: 12px; }
    .txt-footer-left ul li:last-child {
      margin-bottom: 0; }

.txt-footer-right {
  max-width: 400px;
  margin-left: auto;
  font-family: auto; }
  .txt-footer-right .social {
    margin-bottom: 30px; }
    .txt-footer-right .social ul {
      display: flex;
      align-items: center;
      justify-content: flex-end; }

.link-ft ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none; }
  .link-ft ul li {
    padding-right: 15px;
    margin-right: 10px;
    position: relative;
    margin-bottom: 5px; }
    .link-ft ul li:after {
      content: "|";
      font-weight: bold;
      position: absolute;
      top: 0;
      right: 0; }
    .link-ft ul li:last-child {
      padding-right: 0;
      margin-right: 0; }
      .link-ft ul li:last-child:after {
        display: none; }

nav#menu {
  display: none;
  z-index: 1001; }
  nav#menu.mm-menu_opened {
    display: block; }

@media (max-width: 767px) {
  .header-top, .header-menu {
    display: none; }

  .header-mobile {
    display: block !important;
    padding: 10px 0; }

  .header-btn a {
    font-size: 22px;
    color: #434bb9; } }
.slick-arrow {
  opacity: 0.5;
  font-size: 50px;
  display: flex;
  align-items: center;
  height: 50px;
  width: 50px;
  justify-content: center;
  z-index: 2;
  position: absolute;
  top: calc(50% - 25px); }
  .slick-arrow.prev {
    left: 50px; }
  .slick-arrow.next {
    right: 50px; }
  @media (max-width: 1400px) {
    .slick-arrow.prev {
      left: 0; }
    .slick-arrow.next {
      right: 0; } }

.box-about {
  padding: 80px 0; }

.avarta-ab {
  background: #fff;
  padding: 8px;
  box-shadow: 0px 0px 12px #ddd; }

.txt-about {
  position: relative;
  font-size: 18px; }
  .txt-about h3 {
    text-transform: uppercase;
    font-weight: 600; }
  .txt-about .desc {
    padding: 25px 0; }
  @media (max-width: 1023px) {
    .txt-about {
      font-size: 14px;
      text-align: justify; }
      .txt-about h3 {
        font-size: 18px; }
      .txt-about .desc {
        padding: 15px 0; } }

.readmore a {
  color: #1c26ab;
  font-weight: 600; }

.title {
  margin-bottom: 35px; }
  .title h2 {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
    color: #666666; }
  @media (max-width: 1023px) {
    .title h2 {
      font-size: 20px; } }

.box-partner {
  background: #ebebeb;
  padding: 40px 0; }

.slide-part {
  margin: 0 -15px; }
  .slide-part .item-slide {
    padding: 0 15px; }

.item-part a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  padding: 10px; }
  .item-part a img {
    max-height: 70px; }

.slick-dots {
  position: unset;
  margin-top: 30px; }
  .slick-dots button {
    display: none !important; }
  .slick-dots li {
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 100%;
    margin: 0 3px; }
    .slick-dots li.slick-active {
      background: #0e97ff; }

.box-contact-project {
  padding: 60px 0; }

.box-contact h4 {
  text-transform: uppercase;
  font-size: 22px;
  color: #0e97ff;
  margin-bottom: 25px; }
.box-contact p {
  font-weight: 600;
  line-height: 1.4;
  color: #666666;
  margin-bottom: 20px; }

.item-form {
  margin-bottom: 20px; }
  .item-form:last-child {
    margin-bottom: 0; }
  .item-form .txt_field {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    border: 2px solid #ebebeb; }
  .item-form textarea {
    border: 2px solid #ebebeb;
    width: 100%;
    padding: 10px;
    height: 120px;
    outline: none; }
  .item-form ul {
    display: flex;
    list-style: none;
    justify-content: center;
    font-weight: 600;
    align-items: center; }
    .item-form ul li {
      padding-right: 10px; }
      .item-form ul li:last-child {
        padding-right: 0; }
    .item-form ul a {
      display: flex;
      height: 40px;
      background: #1c26ab;
      color: #fff;
      align-items: center;
      padding: 0 15px 2px 15px;
      font-size: 14px; }
  .item-form .btn-contact {
    height: 40px;
    font-weight: 600;
    border-radius: 0;
    border: 0;
    background: #494949;
    color: #fff;
    padding: 0 15px 2px 15px;
    cursor: pointer; }

.list-project .row {
  margin: 0 -8px; }
  .list-project .row > div {
    padding: 0 8px; }
.list-project .col-md-4 {
  margin-bottom: 30px; }

.item-project .avarta {
  background: #fff;
  padding: 5px;
  box-shadow: 0px 0px 19px #ddd;
  margin-bottom: 12px; }
.item-project .info a {
  display: block;
  font-size: 15px;
  font-weight: normal;
  color: #666666; }

.slide-tab {
  background-size: cover !important;
  padding: 100px 0; }
  @media (max-width: 1023px) {
    .slide-tab {
      padding: 50px 0; } }

.item-slide-tab {
  font-size: 18px;
  max-width: 570px;
  margin-left: auto;
  text-align: right; }
  .item-slide-tab h3 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 22px;
    margin-bottom: 20px; }
  .item-slide-tab .desc {
    margin-bottom: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    color: #666666; }
  @media (max-width: 1023px) {
    .item-slide-tab {
      font-size: 15px;
      padding: 0 50px; } }

.box-content-tab {
  position: relative; }
  .box-content-tab .tab-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transition: .3s all !important; }
    .box-content-tab .tab-content.active {
      opacity: 1;
      pointer-events: unset;
      visibility: visible;
      position: relative; }

.list-tab {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 18px;
  background: #ebebeb; }
  .list-tab ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative; }
    .list-tab ul:before {
      content: "";
      width: 80%;
      height: 100%;
      background: #fff;
      position: absolute;
      top: 0;
      left: 10%; }
    .list-tab ul li {
      flex: 0 0 25%;
      max-width: 25%;
      margin: 0 -20px; }
      .list-tab ul li:first-child a {
        clip-path: polygon(0 0, 85% 0, 100% 100%, 0% 100%); }
      .list-tab ul li:last-child a {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%); }
  .list-tab a {
    display: flex;
    align-items: center;
    height: 60px;
    justify-content: center;
    clip-path: polygon(0 0, 85% 0, 100% 100%, 15% 100%);
    background: #ebebeb; }
    .list-tab a.active {
      background: #1c26ab;
      font-weight: bold;
      color: #fff; }
  @media (max-width: 1023px) {
    .list-tab ul li {
      margin: 0; }
      .list-tab ul li a {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%) !important;
        font-size: 14px; } }

.box-product {
  padding: 80px 0;
  position: relative; }
  .box-product:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #1c26ab87;
    position: absolute;
    top: 0;
    left: 0; }
  .box-product .container {
    max-width: 1400px; }
    .box-product .container .row {
      margin: 0;
      justify-content: center; }
      .box-product .container .row .col-md-6 {
        padding: 0;
        margin: 0 -120px; }
        .box-product .container .row .col-md-6:last-child {
          margin-top: 140px; }
          .box-product .container .row .col-md-6:last-child .item-prd .info {
            text-align: right; }
            .box-product .container .row .col-md-6:last-child .item-prd .info h3 {
              padding: 0 170px 0 0; }
            .box-product .container .row .col-md-6:last-child .item-prd .info .readmore {
              text-align: left;
              padding: 0; }
  @media (max-width: 1400px) {
    .box-product .container {
      max-width: 1200px; }
      .box-product .container .row .col-md-6 {
        margin: 0 -100px; } }
  @media (max-width: 1200px) {
    .box-product .container {
      max-width: 1000px; }
      .box-product .container .row .col-md-6 {
        margin: 0 -80px; } }

.item-prd .avarta img {
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  object-fit: cover;
  height: 250px; }
.item-prd .info {
  padding: 0 15px;
  position: relative;
  margin-top: -23px; }
  .item-prd .info h3 a {
    background: #fff;
    display: inline-flex;
    height: 45px;
    align-items: center;
    padding: 0 55px;
    font-size: 18px;
    font-weight: 600;
    clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%); }
  .item-prd .info .readmore {
    text-align: right;
    padding: 0 180px 0 0; }
    .item-prd .info .readmore a {
      color: #fff; }

.title-prd {
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 25px;
  position: absolute;
  left: 210px;
  top: -55px; }

@media (max-width: 1023px) {
  .box-product .container .row .col-md-6 {
    margin: 0;
    padding: 0 7px; }

  .item-prd .avarta img {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%); }

  .box-product .container .row .col-md-6 .item-prd .info h3 {
    padding: 0 !important; }

  .item-prd .info h3 a {
    padding: 0 30px;
    font-size: 14px;
    height: 35px; }

  .box-contact-project .container > .row > .col-md-4 {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 30px; }

  .box-contact-project .col-md-8 {
    flex: 0 0 100%;
    max-width: 100%; }

  .footer-bott {
    font-size: 10px; } }
@media (max-width: 767px) {
  .list-tab a {
    height: 40px;
    padding: 0 10px; }

  .list-tab ul li {
    flex: 0 0 auto;
    max-width: initial; }

  .list-tab ul {
    width: max-content; }

  .list-tab .container {
    overflow: auto;
    padding: 0; }

  .slide-tab {
    padding: 30px 0; }

  .item-slide-tab {
    padding: 0 20px; }

  .box-about {
    padding: 30px 0; }

  .txt-about {
    margin-top: 30px; }

  .box-product {
    padding: 30px 0; }

  .box-product .container .row {
    margin: 0 -7px; }

  .title-prd {
    display: none; }

  .box-product .container .row .col-md-6:last-child {
    margin-top: 30px; }

  .box-product .container .row .col-md-6:last-child .item-prd .info {
    text-align: left; }

  .item-prd .info .readmore {
    text-align: left;
    padding: 0; }

  .box-partner {
    padding: 30px 0; }

  .item-part a {
    height: 60px; }

  .item-part a img {
    max-height: 50px; }

  .slick-dots {
    margin-top: 10px; }

  .box-contact-project {
    padding: 30px 0; }

  .footer-top {
    padding: 30px 0; }

  .txt-footer-left h3 {
    font-size: 18px; }

  .footer-bott {
    text-align: center; }

  .footer-bott p {
    text-align: center; }

  body .container {
    padding: 0 15px; } }

/*# sourceMappingURL=style.css.map */
